.container{
    text-align: center;
    margin: 10px;
    padding-bottom:500px;
    color: red;
    font-family: cursive;
    font-size: larger;
    align-items: center;
    border: 1px;
    border-color: red;

    
}